/* theme specific layout goes here, after the main one */
@media (max-width: 639px){
  .parabit{
    width:90vw;
    border-radius: 1vw;
  }
}
@media (max-width: 959px) and (min-width: 640px){
  .parabit{
    width:48vw;
    border-radius: 1vw;
  }
  .parabit:nth-child(odd){
    margin-left: 40vw;
  }
  .parabit:nth-child(even){
    margin-left: 4vw;
  }
  .parabit.maincontent{
    width:92vw;
    margin-left: 4vw;
  }
}
@media (min-width: 960px){
  .parabit{
    width:480px;
    border-radius: 10px;
  }
  .parabit:nth-child(odd){
    margin-left: 400px;
  }
  .parabit:nth-child(even){
    margin-left: 40px;
  }
  .parabit.maincontent{
    width:840px;
    margin-left: 40px;
  }
}
